html {
  background-image: linear-gradient(to bottom right, rgb(16, 17, 44), rgb(15, 16, 94));
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

p {
  color: lightgray;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 15px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  line-height: 1.5;
}

h1 {
  color: lightgrey;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 48px;
}

header {
  height: 200px;
}

